<div class="modal-overlay">

  <div class="modal-container">


    <!-- =====================================================
         HEADER
         ===================================================== -->

    <div class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            category
          </mat-icon>

        </div>


        <div>

          <h2>

            {{
              isEditing()
                ? ('categories.editCategory' | translate)
                : ('categories.addCategory' | translate)
            }}

          </h2>

        </div>

      </div>


      <button
        mat-icon-button
        type="button"
        class="close-button"

        (click)="onCancel()"

        [disabled]="isSubmitting()"

        [attr.aria-label]="
          'common.close' | translate
        "
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>


    <!-- =====================================================
         FORM
         ===================================================== -->

    <form
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >

      <div class="form-content">


        <!-- =================================================
             IMAGE
             ================================================= -->

        <div class="image-upload-section">

          <div
            class="image-preview-wrapper"

            (click)="fileInput.click()"

            role="button"
            tabindex="0"

            (keydown.enter)="fileInput.click()"
            (keydown.space)="fileInput.click()"
          >


            @if (imagePreview()) {

              <img
                [src]="imagePreview()"

                [alt]="
                  categoryForm.get('nameEn')?.value ||
                  ('categories.categoryImage' | translate)
                "

                class="category-image-preview"
              />

            }


            @if (!imagePreview()) {

              <div class="image-placeholder">

                <mat-icon>
                  cloud_upload
                </mat-icon>

                <span>
                  {{ 'categories.chooseImage' | translate }}
                </span>

              </div>

            }


            <div class="image-hover-overlay">

              <mat-icon>
                photo_camera
              </mat-icon>

              <span>
                {{ 'categories.changeImage' | translate }}
              </span>

            </div>

          </div>


          <input
            #fileInput

            type="file"

            accept="image/*"

            hidden

            (change)="onImageSelected($event)"
          />

        </div>


        <!-- =================================================
             ARABIC NAME
             ================================================= -->

        <div class="form-group">

          <label
            for="categoryNameAr"
            class="form-label"
          >

            {{ 'categories.nameAr' | translate }}

            <span class="required">
              *
            </span>

          </label>


          <input
            id="categoryNameAr"

            type="text"

            class="form-input"

            formControlName="nameAr"

            [placeholder]="
              'categories.nameArPlaceholder'
                | translate
            "

            autocomplete="off"
          />


          @if (
            categoryForm.controls['nameAr'].hasError('required') &&
            categoryForm.controls['nameAr'].touched
          ) {

            <div class="form-error">

              {{ 'categories.nameArRequired' | translate }}

            </div>

          }

        </div>


        <!-- =================================================
             ENGLISH NAME
             ================================================= -->

        <div class="form-group">

          <label
            for="categoryNameEn"
            class="form-label"
          >

            {{ 'categories.nameEn' | translate }}

            <span class="required">
              *
            </span>

          </label>


          <input
            id="categoryNameEn"

            type="text"

            class="form-input"

            formControlName="nameEn"

            [placeholder]="
              'categories.nameEnPlaceholder'
                | translate
            "

            autocomplete="off"
          />


          @if (
            categoryForm.controls['nameEn'].hasError('required') &&
            categoryForm.controls['nameEn'].touched
          ) {

            <div class="form-error">

              {{ 'categories.nameEnRequired' | translate }}

            </div>

          }

        </div>


        <!-- =================================================
             ERROR
             ================================================= -->

        @if (errorMessage()) {

          <div class="error-message">

            <mat-icon>
              error_outline
            </mat-icon>

            <span>
              {{ errorMessage() }}
            </span>

          </div>

        }

      </div>


      <!-- =====================================================
           ACTIONS
           ===================================================== -->

      <div class="modal-actions">


        <button
          mat-button

          type="button"

          class="cancel-button"

          (click)="onCancel()"

          [disabled]="isSubmitting()"
        >

          {{ 'common.cancel' | translate }}

        </button>


        <button
          mat-raised-button

          type="submit"

          class="submit-button"

          [disabled]="
            categoryForm.invalid ||
            isSubmitting()
          "
        >
    @if (isSubmitting()) {

            <mat-spinner
              diameter="20"
            />
          

          } @else {

            <mat-icon>
              save
            </mat-icon>

          }



          {{
            isEditing()
              ? ('categories.editCategory' | translate)
              : ('categories.addCategory' | translate)
          }}

        </button>

      </div>

    </form>

  </div>

</div>